:root {
  --grey: #333;
  --off-white: #eee;
  --shadow-color: 0deg 0% 61%;
  --shadow-elevation-low: 0px 1px 1.1px hsl(var(--shadow-color) / 0.4),
    0px 1.6px 1.7px -1.4px hsl(var(--shadow-color) / 0.37),
    0.1px 4.1px 4.5px -2.7px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium: 0px 1px 1.1px hsl(var(--shadow-color) / 0.42),
    0px 3.2px 3.5px -0.9px hsl(var(--shadow-color) / 0.4),
    0.1px 8.2px 8.9px -1.8px hsl(var(--shadow-color) / 0.38),
    0.3px 20.5px 22.3px -2.7px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0px 1px 1.1px hsl(var(--shadow-color) / 0.39),
    0.1px 5.6px 6.1px -0.4px hsl(var(--shadow-color) / 0.38),
    0.1px 10.6px 11.5px -0.8px hsl(var(--shadow-color) / 0.37),
    0.2px 17.8px 19.4px -1.2px hsl(var(--shadow-color) / 0.36),
    0.4px 29px 31.5px -1.6px hsl(var(--shadow-color) / 0.35),
    0.6px 46.1px 50.1px -2px hsl(var(--shadow-color) / 0.34),
    0.9px 70.8px 77px -2.4px hsl(var(--shadow-color) / 0.33),
    1.3px 105px 114.2px -2.7px hsl(var(--shadow-color) / 0.33);
}
